// about-me.scss

section#about {
  display: flex;
  justify-content: flex-end;
  position: relative;

  &:before {
    background-color: $offwhite;
    content: '';
    height: 200%;
    left: 40%;
    position: absolute;
    top: -50%;
    transform: rotate(-10deg);
    width: 100%;
  }

  .about-paragraph {
    color: $black;
    padding: 50px;
    position: relative;
    width: 50%;

    blockquote {
      padding: 25px;
      font-style: italic;
      text-align: center;
    }
  }
}
