// about-me.scss

section#about {
  display: flex;

  // &:before {
  //   background-color: $white;
  //   content: '';
  //   height: 150%;
  //   // right: -110%;
  //   transform: rotate(-10deg);
  //   width: 100%;
  //   z-index: 1;
  // }

  .about-paragraph {
    color: $black;
    padding: 50px;
    margin: auto;

    blockquote {
      padding: 25px;
      font-style: italic;
      text-align: center;
    }
  }
}
