// background.scss

.background {
  left: 0;
  min-width: 1333px;
  position: fixed;
  top: 0;

  img {
    animation: background-intro ease-out 3s;
    height: auto;
    transform: rotate(180deg);
    width: 100%;
  }
}

@keyframes background-intro {
  from {
    filter: grayscale(1);
    transform: scale(1.025) rotate(180deg);
    // transform: scale(1.025);
  }
  to {
    filter: grayscale(0);
    transform: scale(1) rotate(180deg);
    // transform: scale(1);
  }
}
