// base.scss

html {
  scroll-behavior: smooth;
}

.container {
  margin: 0 5%;
}

.color-scheme {
  background-color: $white;
  border: 1px solid $red;
  border-radius: 5px;
  color: $black;
}

.viewport {
  display: flex;
  position: fixed;
  width: 100vw;
  height: 100vh;
  top: 0;
  transition: 1s all;
  left: 0;

  &.show {
    
    &--about {
      left: -100vw;
    }
  }

  section {
    width: 100vw;
  }
}
