// content.scss

.content {
  position: relative;
  top: 100vh;

  h2 {
    font-size: 50px;
    margin-bottom: 25px;
    text-decoration: underline;
  }
  
  h3 {
    font-size: 20px;
    margin: 10px 0;
    font-weight: 700;
  }
  
  h4 {
    font-weight: 700;
    margin: 10px 0;
    text-decoration: underline;
  }
  
  p, ul, blockquote {
    letter-spacing: 1px;
    line-height: 1.25em;
  }

  > section {
    background-color: $white;
    margin: 0 auto 50vh auto;
    width: 99%;

    .section-content {
      color: $black;
      padding: 5% 25px;
      position: relative;

      .project {
        padding: 10px 0;

        ul {
          list-style-type: disc;
          padding-left: 25px;

          li a {
            text-decoration: none;
          }
        }
      }
    }

    &#about {
      blockquote {
        padding: 25px;
        font-style: italic;
        text-align: center;
      }
    }

    &#portfolio {

    }
  }
}
