// content.scss

.content {
  height: 100vw;
  overflow-y: scroll;
  transform: rotate(-90deg) translateY(-100vh);
	transform-origin: top right;
  width: 100vh;

  section {
    height: 100vh;
    width: 100vw;
  }
}
