// content.scss

.content {
  height: 100vw;
  -ms-overflow-style: none;
  overflow-y: scroll;
  position: relative;
  transform: rotate(-90deg) translateY(-100vh);
	transform-origin: top right;
  width: 100vh;

  section {
    height: 100vh;
    width: 100vw;
  }

  .overlay {
    background-color: $offwhite;
    content: '';
    height: 100%;
    left: -25%;
    position: absolute;
    top: 122%;
    transform: rotate(-10deg);
    width: 200%;
  }
}
