// footer.scss

footer {

  .background-image-credit {
    color: $white;
    opacity: .8;
  }

  ul {
    background-color: rgba(128,128,128,.9);
    display: flex;
    justify-content: space-evenly;
    padding: 10px;

    li {

      a {
        color: $white;
        position: relative;

        i {
          cursor: pointer;
          z-index: 5;
        }

        .popup {
          bottom: 0;
          font-size: 1.25em;
          opacity: 0;
          padding: 10px;
          position: absolute;
          text-align: center;
          transition: 500ms;
          white-space: nowrap;
          z-index: -1;

          &.popup-visible {
            bottom: 60px;
            opacity: 1;
            z-index: 1;
          }
        }
      }
    }
  }

}
