// nav.scss

$nav-left: 10px;

nav {
  font-size: 50px;
  left: 0;
  opacity: 0;
  padding: 10px;
  position: fixed;
  top: 12vw;

  ul {

    li {
      margin-top: 15px;

      a, span {
        color: $white;
      }

      span.resume_file_info {
        font-size: 25px;
        margin-left: 5px;
      }
    }
  }

  @media only screen and (max-width: $mobile-breakpoint) {
   
  }
}
