// nav.scss

$nav-left: 10px;

.ham-menu {
  animation: ham-intro 2s;
  cursor: pointer;
  left: $nav-left;
  position: fixed;
  top: 25px;
  z-index: 100;

  .ham {
    background-color: $red;
    height: 3px;
    margin-bottom: 10px;
    transition: 1s;
    width: 45px;

    &.one {
      &-clicked {
        transform: rotate(45deg) translate(6px, 5px);
      }
    }
    
    &.two {
      transition: .5s;

      &-clicked {
        opacity: 0;
      }
    }
    
    &.three {
      &-clicked {
        transform: rotate(-45deg) translate(12px, -14px);
      }
    }
  }
}

nav {
  background-color: $white;
  border-bottom: 1px solid $red;
  left: -100%;
  opacity: 1;
  position: fixed;
  top: 0;
  transition: left 1s;
  width: 100%;
  z-index: 10;

  &.nav-expanded {
    left: 0;
  }

  ul {
    display: flex;
    justify-content: space-evenly;
    padding: 25px 0;

    li {
      a {
        color: $black;
        font-size: 1.5em;
        letter-spacing: 1px;
        text-decoration: none;
      }
    }
  }

  @media only screen and (max-width: 767px) {
   
  }
}

@keyframes nav-opacity {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes ham-intro {
  from {
    left: -10%;
  }
  to {
    left: $nav-left;
  }
}
