/* NAV */

@keyframes nav-intro {
  from {
    left: -10%;
  }
  to {
    left: 0;
  }
}

nav {
  align-items: center;
  animation: nav-intro 2s forwards;
  display: flex;
  position: fixed;
  top: 35px;
  z-index: 10;

  .ham-menu {
    cursor: pointer;

    .ham {
      background-color: $red;
      height: 3px;
      margin-top: 10px;
      position: relative;
      transition: 1s;
      width: 45px;

      &.one {
        &-clicked {
          transform: rotate(45deg) translate(6px, 5px);
        }
      }
      
      &.two {
        transition: .5s;

        &-clicked {
          opacity: 0;
        }
      }
      
      &.three {
        &-clicked {
          transform: rotate(-45deg) translate(12px, -14px);
        }
      }
    }
  }

  .nav-links {
    ul {
      display: flex;
      left: -125%;
      letter-spacing: 1px;
      line-height: 25px;
      opacity: 0;
      padding: 10px 0;
      position: relative;
      transition: 1s;
      visibility: hidden;

      &.nav-links-visible {
        left: 25px;
        opacity: 1;
        visibility: visible;
      }

      li a {
        color: $black;
        font-size: 1.5em;
        margin: 25px;
        opacity: 0;
        text-decoration: none;
        transition: 1s;
        white-space: nowrap;

        &.nav-link-opaque {
          opacity: .75 !important;
        }
      }
    }
  }
}
