// variables.scss

// colors
$black: #000;
$red: #f00;
$white: #fff;
$offwhite: #f8f8f8;
$scarlet: #ff2400;
$gray: #808080;
$whitesmoke: #F5F5F5;

// breakpoints
$mobile-breakpoint: 767px;
$desktop-breakpoint: 1024px;

// animation
$intro-timing: .5s;
$delay-start: .5s;
