.wrapper {
    height: 100vh;
}

.content {
    font-size: 1.2em;
    letter-spacing: .25rem;
    position: relative;
    text-align: center;
    text-transform: uppercase;
    top: 40%;
}

.line {
    margin: 25px;
}

h1 {
    font-size: 2rem;
}

nav {
    display: flex;
    justify-content: center;
}

.nav-item {
    margin: 0 25px;
    width: 150px;
}

.nav-item:hover {
    cursor: pointer;
}

.projects {
    flex-direction: column;
    padding-top: 10px;
}

.projects a {
    color: inherit;
    text-align: left;
    text-transform: lowercase;
}

#overlay {
    background-color: white;
    display: none;
    height: 100vh;
    opacity: .75;
    position: fixed;
    top: 0;
    width: 100vw;
    z-index: 5;
}
