/* HEADER */
header {
    display: flex;
    height: 45vh;
    text-align: center;
}

.banner {
    margin: auto;
}

.name {
    color: rgba(255, 0, 0, .75);
    font-size: 5em;
    text-transform: uppercase;
}

.capital {
    font-size: 1.25em;
    text-transform: uppercase;
}

.title {
    color: rgba(0, 0, 0, .3);
    font-size: 2em;
}

/* NAV */
nav {
    cursor: pointer;
    position: absolute;
    right: 50px;
    top: 35px;
}

.ham {
    border-bottom: 3px solid red;
    height: 10px;
    width: 45px;
}

/* PORTFOLIO GRID */
.portfolio {
    display: grid;
    grid-gap: 50px;
    grid-template-columns: repeat(auto-fill, minmax(450px, 1fr));
    padding: 0 50px;
}

.square {
    border-radius: 10px;
    cursor: pointer;
    height: 350px;
    position: relative;
    width: 100%;
}

.square img {
    border-radius: 10px;
    height: 100%;
    width: 100%;
}

.image-overlay {
    background-color: rgba(0, 0, 0, .75);
    border-radius: 10px;
    display: flex;
    height: 100%;
    position: absolute;
    transition: .3s;
    width: 100%;
}

.image-overlay:hover {
    opacity: 0;
}

.project-title {
    align-items: center;
    background-color: rgba(245, 245, 245, .9);
    border: 1px solid rgba(255, 0, 0, .5);
    border-radius: 5px;
    display: flex;
    font-size: 1.1em;
    height: 15%;
    justify-content: center;
    letter-spacing: 2px;
    margin: auto;
    width: 40%;
}

a {
    color: black;
}

.anfhco {
    display: flex;
}

.anfhco > img {
    width: 50%;
}

.anfhco .anf-img {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

.anfhco .hco-img {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}
