.wrapper {
    background-color: #F5F5F5;
    height: 100vh;
    position: fixed;
    width: 100%;
}

.content {
    color: #00005f;
    font-size: 1.5em;
    letter-spacing: .4rem;
    position: relative;
    text-align: center;
    text-transform: uppercase;
    top: 30%;
}

.line {
    margin: 30px;
}

nav {
    display: flex;
    justify-content: center;
}

h1 {
    font-size: 3rem;
}

.capital {
    font-size: 3.5rem;
}

/* make sure if you change the opacity the visiblity transition is still longer */
#name, #title, .nav-content, h2 {
    transition: visibility .4s, opacity .35s;
}

a {
    color: inherit;
    text-align: left;
    text-transform: lowercase;
}

.nav-item {
    font-size: 1.2rem;
    margin: 0 25px;
    width: 200px;
}

.nav-header:hover {
    cursor: pointer;
}

.nav-content {
    display: flex;
    flex-direction: column;
    opacity: 0;
    padding-top: 10px;
}
